
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Model Incubator</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Bootstrap Core CSS -->
        <link href="../web_asset/css/bootstrap.min.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../web_asset/css/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../web_asset/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../web_asset/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="../web_asset/css/train.css" rel="stylesheet">

        <script type="text/javascript" src="../web_asset/js/jgallery/jquery-2.0.3.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <%- include bars.ejs %>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Start Training</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="tab-group">
                            <li class="tab active"><a href="#start">Let's Begin</a></li>
                            <li class="tab"><a href="#tensorboard">Tensor Board</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="start">
                                <p1>
                                    Hi
                                    <% if (first_name) { %>
                                        <%= first_name %> 
                                    <% } %>,
                                    <br>
                                    <br>
                                    Click the button to start your training process!
                                    <br>
                                    <br>
                                </p1>                               
                            </div>
                            <div id="tensorboard">
                                <iframe src="http://localhost:3000" width="970px" height="400px" frameborder=0></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary btn-lg start-btn">Start Training</button>                            
                    </div>
                </div>
            </div>
            
<!-- /#wrapper -->
            <!-- Bootstrap Core JavaScript -->
            <script src="../web_asset/js/bootstrap.min.js"></script>
        
            <!-- Custom Theme JavaScript -->
            <script src="../web_asset/js/startmin.js"></script>

            <!-- train.js -->
            <script src="../web_asset/js/train.js"></script>

    </body>
</html>
