
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Model Incubator</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Bootstrap Core CSS -->
        <link href="../web_asset/css/bootstrap.min.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../web_asset/css/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../web_asset/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../web_asset/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="../web_asset/css/styles.css" rel="stylesheet">

        <!-- jquery -->
        <script type="text/javascript" src="../web_asset/js/jgallery/jquery-2.0.3.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <%- include bars.ejs %>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">Data Set</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="inline">
                        <div class="col-xs-9">
                            <div class="gallery" id="gallery">
                                                
                            </div>
                        </div>
                        <div class="col-xs-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <span class="glyphicon glyphicon-cloud-upload"></span>
                                        <h2>Upload Now</h2>
                                         <div class="progress">
                                            <div class="progress-bar" role="progressbar"></div>
                                        </div>
                                        <button class="upload-btn" type="button">Upload Images</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="row">
                        
                        
                </div>
        </div>
        <input id="upload-input" type="file" name="uploads[]" multiple="multiple" accept="image/png, image/jpeg, image/jpg"></br>
        
<!-- /#wrapper -->
        <!-- jQuery -->
        
            <!-- Bootstrap Core JavaScript -->
            <script src="../web_asset/js/bootstrap.min.js"></script>
        
            <!-- Custom Theme JavaScript -->
            <script src="../web_asset/js/startmin.js"></script>
        
             <!-- Uploader Page Control -->
            <script src="../web_asset/js/upload.js"></script>

    </body>
</html>
